<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="dep/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
  <body lang="en">
    <section id="main">
      <header id="title">
        <h1>{{ name }}</h1>
        <span class="subtitle">{{ position }}</span><br>
      </header>
      <section class="main-block">
        <h2>
          <i class="fa fa-user"></i> Summary
        </h2>
        <section class="blocks">
          <div class="date">
          </div>
          <div class="decorator"></div>
          <div class="details">
              <span style="display: block; text-align: justify;">{{ sumary }}</span>
          </div>
        </section>
      </section>
      <section class="main-block">
        <h2>
          <i class="fa fa-suitcase"></i> Experience
        </h2>
        {% for position in positions %}
          <section class="blocks">
            <div class="date">
              <span>{{ position['date'][0] }}</span><span>{{ position['date'][1] }}</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>{{ position['title'] }}</h3>
                <span class="place">{{ position['company'] }}</span>
                <span class="location">{{ position['location'] }}</span>
              </header>
              <div>
                <ul>
                  {% for desc in position['description'] %}
                    <li>{{ desc }}</li>
                  {% endfor %}
                </ul>
                </div>
            </div>
         </section>
        {% endfor %}
      </section>
      <section class="main-block">
        <h2>
          <i class="fa fa-folder-open"></i> Selected Projects
        </h2>
        {% for project in projects %}
          <section class="blocks">
            <div class="date">
              <span>{{ project['date'][0] }}</span><span>{{ project['date'][0] }}</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>{{ project['title'] }}</h3>
                <span class="place">{{ project['company'] }}</span>
              </header>
              <div>
                <ul>
                  {% for desc in project['description'] %}
                    <li>{{ desc }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </section>
        {% endfor %}
      </section>
      <section class="main-block concise">
      <h2>
        <i class="fa fa-graduation-cap"></i> Education
      </h2>
      {% for education in educations %}
        <section class="blocks">
          <div class="date">
            <span>{{ education['date'][0] }}</span><span>{{ education['date'][1] }}</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>{{ education['degree'] }}</h3>
              <span class="place">{{ education['institution'] }}</span>
              <span class="location">{{ education['location'] }}</span>
            </header>
            <div>
              <ul>
                {% for desc in education['description'] %}
                  <li>{{ desc }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>
      {% endfor %}
      </section>
      <section class="main-blcok concise">
      <h2>
        <i class="fa fa-chalkboard-user"></i> Teaching/Training
      </h2>
      {% for training in trainings %}
        <section class="blocks">
          <div class="date">
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            {{ training }}
          </div>
        </section>
      {% endfor %}
      </section>
    </section>
    <aside id="sidebar">
      <div class="side-block" id="contact">
        <h1>
          Contact Info
        </h1>
        <ul>
          <li><i class="fa fa-envelope"></i> <a href="mailto:{{ email }}">{{ email }}</a></li>
          <li><i class="fa-brands fa-linkedin"></i> <a href="http://{{ linkedin }}">{{ linkedin }}</a></li>
          <li><i class="fa fa-globe"></i> <a href="http://{{ portfolio }}">{{ portfolio }}</a></li>
          <li><i class="fa fa-phone"></i> {{ phone }}</li>
          <li><i class="fa fa-map-marker-alt"></i> {{ location }}</li>
        </ul>
      </div>
      <div class="side-block" id="skills">
        <h1>
          Skills
        </h1>
        <ul>
          {% for skillset in skills %}
            <h5>{{ skillset }}:</h5>
            {{ ', '.join(skills[skillset]) }}
          {% endfor %}
        </ul>
      </div>
    </aside>
  </body>
</html>
